
:root {
  --yellow: #ffdf93;
  --red: #ffdff1;
  --blue: #E4FDE1;
  --dark: #152328;
  --script: 'Imperial Script', cursive;
  --main-font: "Inter", sans-serif;
  --title-font: "Comfortaa", sans-serif;
}

body {
  font-family: var(--main-font);
  margin: 0;
  color: var(--dark);
}

* {box-sizing: border-box}

h1, h2, h3, .subtitle {
  font-family: var(--title-font);
  text-align: center;
}

.img-container {
  overflow: hidden;
}

.img-container img {
  width: 100%;
}

.centered {

}

main {
  margin: 100px auto;
  width: 80%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid.col2 {
  grid-template-columns: repeat(2, 1fr);
}

.flex {
  display: flex;
  gap: 10px;
}