
.card {
    height: 450px;
}

.card.best h3::after {
    content: "👑";
    padding-left: 10px;
    text-shadow: 1px 1px 4px #00000099;
}

.c-header {
    width: 100%;
    overflow: hidden;
    transform: translateY(45px);
    text-align: center;
}

.c-header img {
    height: 180px;
    max-width: 60%;;
}

.c-body {
    transition: all .3s;
    border-radius: 8px;
    text-align: center;
    padding: 60px 15px 15px;
    height: 300px;
}

.card:hover .c-header {
    animation: float 1.5s linear infinite alternate;
    box-shadow: 2px 2px 8px rgba(0, 0, 0 , .5%);
}

.card ul {
    list-style: none;
    padding: 0;
}

.card a {
    display: inline-block;
    padding: 15px 15px;
    background-color: white;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, .3%);
    border-radius: 50px;
    border: solid var(--dark) 1px;
    font-size: 1.1em;
    transition: all .2s;
    color: var(--dark);
    text-decoration: none;
    margin-top: 10px;
}

.card a:hover {
    font-weight: bold;
    border-width: 2px;
    cursor: pointer;
}



.card:hover .c-body {
    background-color: var(--main);
}

@keyframes float {
    from {
        transform: translateY(45px);
    }
    to {
        transform: translateY(35px);
    }

}
