@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Luckiest+Guy&family=Quicksand&display=swap');

:root {
  --font-secondary: 'Comfortaa', cursive;
  --font-title: 'Luckiest Guy', cursive;
  --font-main: 'Quicksand', sans-serif;

  --neutral: #648381ff;
  --light: #f0f0c9ff;
  --main: #f2bb05ff;
  --secondary: #eb550aff;
  --dark: #30323dff;
}

body {
  margin: 0;
  font-family: var(--font-main);
  color: var(--dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: var(--font-title);
  color: var(--secondary);
}

h2, h3 {
  font-family: var(--font-secondary);
}

h2 {color: var(--main)}
h2 {color: var(--neutral)}